@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600&display=swap");

/*========================================================*/
/*=====================General styles=====================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rethink Sans", sans-serif;
  min-height: 100vh;
  width: 100%;
  line-height: 1.5;
}

/*========================================================*/
/*====================Body gradient=====================*/
body {
  background: linear-gradient(226deg, #bdeec3, #ccdbf5, #f4f5cc);
  background-size: 600% 600%;

  -webkit-animation: BodyGradient 37s ease infinite;
  -moz-animation: BodyGradient 37s ease infinite;
  animation: BodyGradient 37s ease infinite;
}

@-webkit-keyframes BodyGradient {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}
@-moz-keyframes BodyGradient {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}
@keyframes BodyGradient {
  0% {
    background-position: 0% 96%;
  }
  50% {
    background-position: 100% 5%;
  }
  100% {
    background-position: 0% 96%;
  }
}

/*========================================================*/
/*====================Resume Block Gradients=====================*/
.background_gradient_1 {
  background-color: #89cf92;
  background-image: linear-gradient(120deg, #89cf92 0%, #e9ec80 51%, #ffcc70 90%);
}

.background_gradient_2 {
  background-color: #89cf92;
  background-image: linear-gradient(45deg, #89cf92 0%, #e9ec80 51%, #ffcc70 90%);
}

.background_gradient_3 {
  background-color: #d6d6d6;
  background-image: linear-gradient(45deg, #d6d6d6 0%, #e9ec80 51%, #ffcc70 90%);
}

.background_gradient_4 {
  background-color: #89cf92;
  background-image: linear-gradient(129deg, #89cf92 0%, #e9ec80 51%, #dad6d3 90%);
}

.background_gradient_5 {
  background-color: #91e89d;
  background-image: linear-gradient(225deg, #91e89d 0%, #e0e293 51%, #e6e6e6 90%);
}

/*========================================================*/
/*====================Resume Block=====================*/

main {
  padding: 30px 50px;
}

.resume {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.resume__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__block {
  font-weight: 500;
}

.resume__block {
}

.block__card {
}

.block__button {
}

.card__header {
}

.card__content {
}
